[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = API para controle de ponto com Java e Spring Boot
[access "refs/*"]
	owner = group user/Murilo Diego Bueno (murilodbueno)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Murilo Diego Bueno (murilodbueno)
	label-Verified = -1..+1 group user/Murilo Diego Bueno (murilodbueno)
	push = group user/Murilo Diego Bueno (murilodbueno)
	read = group user/Murilo Diego Bueno (murilodbueno)
	rebase = group user/Murilo Diego Bueno (murilodbueno)
	removeReviewer = group user/Murilo Diego Bueno (murilodbueno)
	submit = group user/Murilo Diego Bueno (murilodbueno)
[access "refs/heads/*"]
	create = group user/Murilo Diego Bueno (murilodbueno)
	push = +force group user/Murilo Diego Bueno (murilodbueno)
	pushMerge = group user/Murilo Diego Bueno (murilodbueno)
	read = group user/Murilo Diego Bueno (murilodbueno)
[access "refs/tags/*"]
	push = group user/Murilo Diego Bueno (murilodbueno)
	push = +force group user/Murilo Diego Bueno (murilodbueno)
